<div>
    <h1>Ingresar al sistema</h1>
    <h2>Login con <a href="/api/session/github">GitHub</a></h2>
    
    <form id="loginForm">
        <label>Correo electronico</label>
        <input name="email">
        <br />
        <label>Contraseña</label>
        <input name="password">
        <br />
        <input type="submit" value="Ingresar">
    </form>
    <p>¿No tiene cuenta? <a href="/api/session/register">Registrate aquí</a></p>
</div>

<script src="/js/login.js"></script>