<form method="post" action="password_change/{{token}}">
    <label>Nueva Contraseña</label>
    <input type="password" name="new_password" required>
    <br />
    <label>Repita su Contraseña</label>
    <input type="password" name="new_password" required>
    <br />
    <input type="submit" value="Cambiar Contraseña">
</form>